.map-container {
    position: relative;
    height: 80vh;
    width: 80%;
    margin: auto;
    margin-bottom: 8%;
    display: flex;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
}

.map-controls {
    position: relative;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 300px;
    z-index: 1000;
}

.map-controls h3 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 1em;
}

.map-input {
    margin-bottom: 5px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

.map-suggestions {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    max-height: 100px;
    overflow-y: auto;
    background-color: #fff;
}

.map-suggestions li {
    cursor: pointer;
    padding: 5px;
    border-bottom: 1px solid #eee;
}

.map-suggestions li:hover {
    background-color: #f0f0f0;
}

.map-transport {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

.map-transport button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.map-transport button .icon {
    color: #555;
    font-size: 24px;
    transition: color 0.3s ease, transform 0.2s ease;
}

.map-transport button.active .icon {
    color: green; /* Couleur verte pour l'icône sélectionnée */
    transform: scale(1.2);
}

.map-button {
    padding: 8px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 14px;
}

.map-button:hover {
    background-color: #0056b3;
}

.map-display {
    height: 100%;
    width: 100%;
}

.map-info {
    margin-top: 15px;
    font-size: 14px;
    color: #333;
    padding: 5px;
    border-top: 1px solid #ddd;
}

.map-instructions {
    margin-top: 10px;
    background: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    max-height: 200px;
    overflow-y: auto;
}

.map-instructions h4 {
    margin-bottom: 10px;
    color: #007bff;
}

.map-instructions ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.map-instructions li {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.instruction-icon {
    margin-right: 10px;
    color: #007bff;
    font-size: 20px;
}

.map-transport .icon {
    font-size: 24px;
    color: #555;
}

.map-transport .active .icon {
    color: #28a745;
    transform: scale(1.2);
}